@import url('antd/dist/reset.css');
@import url("./normalize.scss");
@import url("./vars.scss");
@import url("./fonts.scss");

.app {
  margin: 0 auto;
  font-family: 'Fira Sans', serif;
  color: var(--color-text);
}